/* Font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variabels */
:root {
    --light-bgcolor: #F5F5F5;
    --green-blue: #19696A;
    --pola: #2C8989;
    --footer: #19696A;
}

/* Navbar */
.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white !important;
    margin-right: 48px;
}

.navbar-brand{
    color: white !important;
    font-family: 'B612 Mono', monospace;
}

.navbar-light {
    background-color: #19696A;
}

.tombol-nav {
    color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler{
    border: 1px solid white !important;
}

/* WA */
.whatsapp {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

/* Content-One */
.content-one {
    background-color: var(--light-bgcolor);
    padding-top: 75px;
}

.jumbotron .sub-jumbotron .judul {
    font-family: 'B612 Mono', monospace;
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
}


.jumbotron .sub-jumbotron .sub-judul {
    font-family: 'Roboto', sans-serif;
    font-size: 0.95rem;
    text-align: center;
}

.sub-jumbotron .btn{
    /* color: #19696A; */
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #91BFBF !important;
    /* font-weight: bold; */
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;
}

.gambar-pond {
    padding-top: 4%;
}

.jumbotron {
    padding-top: 5%;
}


.shape-one, .shape-two, .shape-three {
    display: none;
}

/* Content-Two */
.content-two {
    padding: 5% 5% 7% 5%;
    background-color: var(--light-bgcolor);
}

.header {
    text-align: center;
    text-transform: uppercase;
    /* padding: 32px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.content-two .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 10px;
}

.content-two .column .koi-container {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
}

.content-two .column .koi-container2 {
    vertical-align: middle;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.content-two .column .koi-container video {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    background-color: black;
}

.content-two .column .koi-container img {
    height: 350px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    background-color: black;
}

.content-two .column .koi-container div {
    text-align: center;
}

.content-two .column .koi-container .judul-koi {
    font-weight: bold;
}

.content-two .column .koi-container .judul-koi,
.content-two .column .koi-container .ukuran-koi {
    color: black;
}

.content-two .column .koi-container .koi-gender {
    color: red;
}

/* Content-Three */
.content-three {
    padding: 3% 6% 5% 6%;
    background-color: var(--footer);
    text-align: center;
    /* z-index: 1; */
}

.content-three .kontak {
    color: white;
}

.content-three .kontak .pesona-koi {
    font-family: 'Roboto', sans-serif;
}


.content-three .tentang-kami {
    color: white;
    margin-top: 5%;
}

.content-three .tentang-kami .kota{
    font-weight: bold;
}

/* .content-three .tentang-kami .logo{
    width: 100px;
} */
.content-three .btn{
    /* color: #19696A; */
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #91BFBF !important;
    /* font-weight: bold; */
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;

}

/* Footer */

footer{
    background-color: var(--green-blue);
    color: white;
    text-align: center;  
    padding-bottom: 13px;  
}

/* --------------------------------- DEKSTOP VERSION---------------------------- */
@media (min-width: 992px) {

    /* Navbar */
    .nav-link:hover {
        border-bottom: 3px solid #ffffff;
        margin-bottom: -3px;
    }

    /* Content-One */
    .content-one {
        height: 660px;
        padding-top: 55px;
    }

    .gambar-pond .img-fluid {
        width: 650px;
        height: 534px;
        object-fit: contain;
        padding-right: 50px;
    }

    .jumbotron {
        padding-top: 15%;
    }

    .jumbotron .sub-jumbotron .judul {
        text-align: left;
        margin-top: 40px;
        z-index: 1;
    }

    .jumbotron .sub-jumbotron .sub-judul {
        text-align: left;
        z-index: 1;
        width: 450px;
    }

    .shape-one {
        display: inline;
        position: absolute;
        right: 0;
        /* z-index: 1; */
    }

    .shape-two{
        display: inline;
        position: absolute; 
        margin-top: 70%;
    }

    .shape-three {
        display: inline;
        position: absolute;
        right: 0;
        /* z-index: 1; */
        margin-top: 87%;

    }

    /* Content-Two */
    .content-two .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 30px;
        z-index: 1;
    }

    .content-two .column .koi-container video {
        height: 350px;
    }
    
    .content-two .column .koi-container {
        margin-top: 70px;
    }

}